{{! Create a new body since some bootstrap styles are defined there }}
<body>
  {{#ember-basic-tree contentComponent=(component "navigation-example/navigation-content") as |tree|}}
    {{#tree.node "child 1" route="navigation-example.child1"}}
      {{tree.node "descendant 1" route="navigation-example.child1.descendant1"}}
      {{tree.node "descendant 2" route="navigation-example.child1.descendant2"}}
      {{tree.node "descendant 3" route="navigation-example.child1.descendant3"}}
    {{/tree.node}}
    {{#tree.node "child 2" route="navigation-example.child2"}}
      {{tree.node "descendant 1" route="navigation-example.child2.descendant1"}}
      {{tree.node "descendant 2" route="navigation-example.child2.descendant2"}}
      {{tree.node "descendant 3" route="navigation-example.child2.descendant3"}}
    {{/tree.node}}
  {{/ember-basic-tree}}
</body>